body{
      font-family: sans-serif;
      background-image:url(../../Ejercicio2/images/gaming.png);
}

h1{
      background-color: #3d3d3d;
      color: #f0fffc;
      text-align: center;
      font-style: italic;
}

h2{
      text-decoration: underline;
}

strong{
      font-style: oblique;
      color: #531d91
}

em{
      font-family: fantasy;
      color: #979449;
}


.header {
      background-color: #ba881c;
      width: 960px;
      margin: auto;
      margin-bottom: 20px;
      border: 5px;
      border-style: dotted;
      border-color: #96fda7;
      padding-top: 20px;
      padding-bottom: 20px;
}

.article1{
      text-align: justify;
      font-size: 18px;
      line-height: 23px;
      background-color: #c4ff57;
      width: 960px;
      margin: auto;
      margin-bottom: 20px;
      border: 5px;
      border-style: dotted;
      border-color: #96fda7;
      padding-top: 20px;
      padding-bottom: 20px;
}

.article2{
      text-align: justify;
      font-size: 18px;
      line-height: 23px;
      background-color: #474aff;
      width: 960px;
      margin: auto;
      margin-bottom: 20px;
      border: 5px;
      border-style: dotted;
      border-color: #96fda7;
      padding-top: 20px;
      padding-bottom: 20px;
}

.article3{
      text-align: justify;
      font-size: 18px;
      line-height: 23px;
      background-color: #ff4747;
      width: 960px;
      margin: auto;
      margin-bottom: 20px;
      border: 5px;
      border-style: dotted;
      border-color: #96fda7;
      padding-top: 20px;
      padding-bottom: 20px;
}

.article4{
      text-align: justify;
      font-size: 18px;
      line-height: 23px;
      background-color: #ffb8b8;
      width: 960px;
      margin: auto;
      margin-bottom: 20px;
      border: 5px;
      border-style: dotted;
      border-color: #96fda7;
      padding-top: 20px;
      padding-bottom: 20px;
}

.article5{
      text-align: justify;
      font-size: 18px;
      line-height: 23px;
      background-color: #5f7830;
      width: 960px;
      margin: auto;
      margin-bottom: 20px;
      border: 5px;
      border-style: dotted;
      border-color: #96fda7;
      padding-top: 20px;
      padding-bottom: 20px;
}


.footer{
      background-color: #144fff;
      width: 960px;
      margin: auto;
      border: 5px;
      border-style: dotted;
      border-color: #96fda7;
      padding-top: 20px;
      padding-bottom: 20px;
}

.main{
      margin: 0px;
}

/*Formulario de consultas*/

form {
      width: 25%;
      border: 5px solid #ccc;
      margin: 20px;
      padding: 20px;
      font-size: 14px;
}

label {
      font-size: 14px;
      display: block;
      width: 100%;
}


input {
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #CCC;
}

textarea{
      resize: vertical;
      max-height: 300px;
      min-height: 50px;
}

input:focus, textarea:focus {
      border: 1px solid #1668C4;
}

button:hover {
      background: #4A88F4;
      cursor: pointer;
}


/*Hobbies*/

body img:hover {
      border-radius: 20px;
}

.hobbies{
  width: 960px;
  margin: auto;
  box-sizing: border-box;
}

.hobbies-enlaces{
      float: left;
      position: absolute;
      width: 960px;
      top: 80px;
      background: #4A88F4;
      box-sizing: border-box;
}

.imagenes{
      float: right;
      right: 0px;
      width: 960px;
      background: #4A88F4;
      text-align: right;
      box-sizing: border-box;
}

.hobbies-footer{
      background: #4A88F4;
      display: inline;
      position: absolute;
      float: right;
      width: 960px;
      bottom: 0px;
      right: 0px;
      text-align: right;
      box-sizing: border-box;
}
